body {
  background: #c2c2c2;
}

body.dark-mode {
  background: #222;
}

.novo-usuario-container {
  max-width: 900px;
  margin: 60px auto 0 auto; /* Reduz o espaço superior */
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #bdbdbd;
  box-shadow: 0 2px 16px #0002;
}

body.dark-mode .novo-usuario-container {
  background: #333;
  border: 1px solid #444;
}

.novo-usuario-voltar {
  display: block;
  margin-bottom: 20px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 8px 12px;
}

body.dark-mode .novo-usuario-voltar {
  color: #ff8633;
}

.novo-usuario-voltar:hover {
  color: #ff6f00;
}

.novo-usuario-voltar-icone {
  margin-right: 5px;
}

.novo-usuario-titulo {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #222;
}

body.dark-mode .novo-usuario-titulo {
  color: #fff;
}

.novo-usuario-campo {
  margin-bottom: 20px;
}

.novo-usuario-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #222;
}

body.dark-mode .novo-usuario-label {
  color: #fff;
}

.novo-usuario-input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  background: #fff;
  color: #222;
}

body.dark-mode .novo-usuario-input {
  background: #222;
  color: #fff;
  border: 1px solid #555;
}

.novo-usuario-preview {
  margin-top: 15px;
}

.novo-usuario-preview-texto {
  font-weight: bold;
  font-size: 1.1rem;
  color: #222;
}

body.dark-mode .novo-usuario-preview-texto {
  color: #fff;
}

.novo-usuario-preview-imagem {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.novo-usuario-botao {
  background-color: #ff6f00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 10px;
}

.novo-usuario-botao:hover {
  background-color: #ff8633;
}

/* Dark-Mode Button */
.trilho-usuario {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 43px;
  right: 8.5em;
  cursor: pointer;
  z-index: 10;
}

.trilho-usuario .indicador-usuario {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}

body.dark-mode .trilho-usuario .indicador-usuario {
  background-color: #444;
}

.trilho-usuario .indicador-usuario i {
  display: flex;
  text-align: center;
  margin-top: 18px;
  margin-left: 16px;
  align-items: center;
  color: #222;
}

body.dark-mode .trilho-usuario .indicador-usuario i {
  color: #ff8633;
}